@model List<Body4U.Web.ViewModels.Account.MyArticlesViewModel>

@using System.Security.Claims

<section class="d-flex align-items-center">
    <div class="wrapper d-flex align-items-stretch">
        <partial name="_MyProfilePartial" model="User.Claims.FirstOrDefault(x=>x.Type == ClaimTypes.NameIdentifier)?.Value" />
        <div id="content" class="p-4 p-md-5">
            <div class="show-hide-sidebar">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            @foreach (var article in Model)
            {
                <div class="card card-flex-body">
                    <img src="data:image;base64,@article.Image" class="card-img-top" alt="..." style="max-height:200px; min-height:200px;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight:bold">@article.ShortTitle</h5>
                        <p class="card-text">@article.ShortContent</p>
                        <hr />
                        <a asp-area="" asp-controller="Article" asp-action="Get" asp-route-id="@article.Id"><i class="fas fa-eye card-icon" data-toggle="tooltip" title="Преглед"></i></a>
                        <a asp-area="" asp-controller="Article" asp-action="Edit" asp-route-id="@article.Id"><i class="fas fa-edit card-icon" data-toggle="tooltip" title="Редакция"></i></a>
                        <form asp-controller="Article" asp-action="Delete" asp-route-id="@article.Id" method="post" style="display:inline-block">
                            <button type="submit" class="card-btn">
                                <i class="fas fa-trash-alt card-icon" data-toggle="tooltip" title="Изтрий"></i>
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</section>