@using Body4U.Web.ViewModels.Article
@using Microsoft.AspNetCore.Mvc.Localization

@model cloudscribe.Pagination.Models.PagedResult<GetAllArticlesViewModel>

@inject IViewLocalizer Localizer
@inject Body4U.Data.ApplicationDbContext DbContext
@inject IViewLocalizer Localizer

@{
    ViewData["Controller"] = "Article";
    ViewData["Action"] = "All";
    //var authors = new List<Body4U.Web.ViewModels.Article.AllArticlesAuthorInfoModel>();
    //authors.AddRange(DbContext.Trainers.Select(x => new Body4U.Web.ViewModels.Article.AllArticlesAuthorInfoModel { AuthorId = x.ApplicationUserId, FullName = x.ApplicationUser.FullName }));
    //authors.AddRange(DbContext.Creators.Select(x => new Body4U.Web.ViewModels.Article.AllArticlesAuthorInfoModel { AuthorId = x.ApplicationUserId, FullName = x.ApplicationUser.FullName }));
}

<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
            <li>Статии</li>
        </ol>
        <h2>Всички статии</h2>
    </div>
</section>
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-10 entries">
                @if (Model.Data.Count() > 0)
                {
                    @foreach (var article in Model.Data)
                    {
                        <article class="entry">
                            <div class="entry-img">
                                <img src="data:image;base64,@article.Image" alt="" class="img-fluid" style="flex-shrink:0; min-width:100%; min-height:100%;">
                            </div>
                            <h2 class="entry-title">
                                <a asp-area="" asp-controller="Article" asp-action="Get" asp-route-id="@article.Id">@article.Title</a>
                            </h2>
                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center"><i class="icofont-user"></i>@article.AuthorFullName @*<a href="blog-single.html">John Doe</a>*@</li>
                                    <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> @article.DatePosted</li>
                                    <li class="d-flex align-items-center"><i class="icofont-comment"></i>@Localizer[$"{article.ArticleType}"]</li>
                                </ul>
                            </div>
                            <div class="entry-content" style="word-wrap:break-word">
                                <p>
                                    @article.SubstringedContent
                                </p>
                                <div class="read-more">
                                    <a asp-area="" asp-controller="Article" asp-action="Get" asp-route-id="@article.Id">Прочети повече</a>
                                </div>
                            </div>
                        </article>
                    }
                }
                else
                {
                    <h1>Все още няма статии.</h1>
                }
                <div class="blog-pagination">
                    <ul class="justify-content-center">
                        @*<li class="disabled"><i class="icofont-rounded-left"></i></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="icofont-rounded-right"></i></a></li>*@
                        <partial name="_PaginationPartial" , view-data="ViewData" , model="Model" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>